<ion-header class="ion-no-border">
  <ion-grid>
    <ion-row class="title">
      <ion-col offset-lg="2">
        <ion-item lines="none">
          <ion-avatar>
            <img src="../../../assets/images/IMG_4329.jpeg">
          </ion-avatar>
          <ion-title color="primary">What I Do</ion-title>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <div class="background">
    <div class="background-image"></div>
    <ion-grid>

      <ion-row>
        <ion-col offset-lg="2" size-lg="4">

          <ion-item lines="none">
            <ion-icon slot="start" name="desktop-outline"></ion-icon>
            <h2>Web Development</h2>
          </ion-item>
          <ion-item lines="none">
            <p>I have experience with web development. I aim to make websites that are easy to use and work across multiple platforms.</p>
          </ion-item>

        </ion-col>
        <ion-col size-lg="4">
          <ion-item lines="none">
            <ion-icon slot="start" name="phone-portrait-outline"></ion-icon>
            <h2>App Development</h2>
          </ion-item>
          <ion-item lines="none">
            <p>I have a years experience with app development. I worked developing hybrid apps that worked on both IOS and Android.</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-lg="2" size-lg="4">

          <ion-item lines="none">
            <ion-icon slot="start" name="wine-outline"></ion-icon>
            <h2>Cocktails</h2>
          </ion-item>
          <ion-item lines="none">
            <p>I have been working on a bar since my first year at university and have experience in making cocktails. My personal favourite to make is an Espresso Martini.</p>
          </ion-item>

        </ion-col>
        <!-- <ion-col size-lg="4">
          <ion-item lines="none">
            <ion-icon slot="start" name="phone-portrait-outline"></ion-icon>
            <h2>App Development</h2>
          </ion-item>
          <ion-item lines="none">
            <p>I have a years experience with app development. I worked developing hybrid apps that worked on both IOS and Android.</p>
          </ion-item>
        </ion-col> -->
      </ion-row>
      
    </ion-grid>
  </div>
</ion-content>
