<ion-header class="ion-no-border">
  <ion-grid>
    <ion-row class="title">
      <ion-col offset-lg="2">
        <ion-item lines="none">
          <ion-avatar>
            <img src="../../../assets/images/IMG_4329.jpeg">
          </ion-avatar>
          <ion-title color="primary">Education</ion-title>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <div class="background">
    <div class="background-image"></div>
    
    <ion-grid>
      <ion-row>
        <ion-col offset="2">
          <ion-item lines="none">
            
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
