<ion-header class="ion-no-border">
  <ion-grid>
    <ion-row class="title">
      <ion-col offset-lg="2">
        <ion-item lines="none">
          <ion-avatar>
            <img src="../../../assets/images/IMG_0516.jpg">
          </ion-avatar>
          <ion-title color="primary">Education</ion-title>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <div class="background">
    <div class="background-image"></div>
    
    <ion-grid>
      <ion-row>
        <ion-col offset="2" size="4">
          <ion-item lines="none">
            <ion-avatar>
              <img src="../../../assets/images/university-of-liverpool-squarelogo.png" />
            </ion-avatar>
            <ion-label>
              <h1>University of Liverpool</h1>
              <h2 color="tertiary">Computer Science w/ Software Development</h2>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <p>
              I have been studying at the University of Liverpool since September 2017. I took a year out between my second and third year to complete a placement in app development,
              so I am planning to graduate in July 2021. Below is a list of some of the modules I have completed:
            </p>
          </ion-item>
          <ion-item lines="none">
            <ion-list inset="true">
              <ion-item lines="none">
                <p>- Object Oriented Programming - Java</p>
              </ion-item>
              <ion-item lines="none">
                <p>- Software Engineering 1 - Software practices and basics</p>
              </ion-item>
              <ion-item lines="none">
                <p>- App Development - IOS using Swift</p>
              </ion-item>
              <ion-item lines="none">
                <p>- Principles of C and memory Management</p>
              </ion-item>
            </ion-list>
          </ion-item>
        </ion-col>

        <ion-col size="4">
          <ion-item lines="none">
            <ion-avatar>
              <img src="../../../assets/images/St_Cecilias_College_Logo.jpg" />
            </ion-avatar>
            <ion-label>
              <h1>St Cecilia's College, Derry</h1>
              <h2 color="tertiary">A-Levels and GCSEs</h2>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <p>
              I studied both my A-levels and GCSEs at St. Cecilia's College. I gained grades A* - C at GCSE including maths and english. 
              My A-level results are below:
            </p>
          </ion-item>
          <ion-item lines="none">
            <ion-list inset="true">
              <ion-item lines="none">
                <p>- Mathematics - B</p>
              </ion-item>
              <ion-item lines="none">
                <p>- Software Systems Development - B</p>
              </ion-item>
              <ion-item lines="none">
                <p>- Art and Design - C</p>
              </ion-item>
            </ion-list>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
