<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Niamh Gallagher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <div class="background-image"></div>

    <app-tabs></app-tabs>

    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-avatar>
            <img src="../../assets/icon/niamh.jpeg" />
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h1>What's the craic? I'm Niamh (neev) Gallagher.</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-lg="5" size-lg="3" offset="2.5">
          <ion-button >
            <ion-icon color="primary" name="logo-github"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon color="secondary" name="mail-outline"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon color="tertiary" name="logo-linkedin"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>


</ion-content>
