ion-content {
    ion-avatar {
        width: 200px;
        height: 200px;
    }
    
    ion-title {
        font-size: 50px;
    }

    h1 {
        color: var(--ion-color-secondary);
    }

    h2 {
        text-align: justify;
    }
}
