<ion-content>
  <div class="background">
    <div class="background-image"></div>

    <ion-grid>
      <ion-row>
        <ion-col offset-lg="2">
          <ion-item lines="none">
            <ion-avatar>
              <img src="../../../assets/images/IMG_4329.jpeg">
            </ion-avatar>
            <ion-title color="primary">About Me</ion-title>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-lg="2" size-lg="8">
          <h1>Background.</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-lg="2" size-lg="8">
          <h2>
            I am currently an undergraduate student studying for a degree in Computer Science and Software Development at the 
            University of Liverpool. I have an interest in Development and I have completed a placement in the industry.
          </h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-lg="2" size-lg="8">
          <h1>Interests.</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-lg="2" size-lg="8">
          <h2>
            In my spare time recently I have been teaching myself some new skills. I have been trying to learn my native 
            language Irish as it would be an honour to be able to speak my mother tongue. Before corona virus I was attending 
            classes at the Liverpool Irish Centre but currently I am learning through Duolingo and a text book. I have 
            also decided to pick up knitting and have been trying to knit myself a blanket. I enjoyed knitting with my Granny when
            I was younger so it brings back fond memories.
          </h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-lg="2" size-lg="8">
          <h2>
            I have also been getting into my creative side by taking up drawing sketches to raise money for the Black Lives Matter movement 
            where I have raised almost £100 for some charities, including The Bail Project.
          </h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-lg="2" size-lg="8">

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
